/* Navigation Bar */
#nav a {
	display:block;
    text-align:center;
    width: 138px; 
    text-decoration:none; 
}

body {
	padding: 3%;
}
		
/* Navbar container */
.nav-bar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.nav-bar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  background-color: #b2b1b1;
  color: #fff;
  border-radius: 10px;
}
.nav-bar .active {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
