/* Navigation Bar */
#nav a {
	display:block;
  text-align:center;
  width:138px; 
  text-decoration:none; 
}

body {
	padding: 3%;
}
		
/* Navbar container */
.nav-bar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.nav-bar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  background-color: #b2b1b1;
  color: #fff;
  border-radius: 10px;
}
.nav-bar .active {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.input{
  display: inline-block;
  width: 150px;
  height: 21px;
  margin: 2px;
}
.meeting {
  display: inline-block;
  width: 100px;
  height: 28px;
  margin: 2px;
}
.code-label {
  display: inline-block;
  width: 150px;
  height: 21px;
  margin: 2px;
}

.inputting {
  display: inline-block;
  top: 20%;
  position: absolute;
  width: 620px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: rgb(51,73,94);
}

.timeInput {
  display: inline-block;
  width: 150px;
  height: 20px;
  margin: 2px;
}

#addButton {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 3px;
  position: absolute;
  
}
