* {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
  background: #42455a;
}
label {
  margin: 250px;
  font-size: 30px;
  color: #fff;
}
.nav-bar ul{
	display: inline-flex;
}
.nav-bar ul li{
  list-style: none;
  margin: 0 20px;
	color: #b2b1b1;
	cursor: pointer;
}
.school {
  text-decoration: none;
	color: #b2b1b1;	
}

.school span{
	display: block;
}
.week {
  text-decoration: none;
	color: #b2b1b1;	
}

.week span{
	display: block;
}
