/* Navigation Bar */
#nav a {
	display:block;
    text-align:center;
    width:138px; 
    text-decoration:none; 
}

body {
	padding: 3%;
}
		
/* Navbar container */
.nav-bar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.nav-bar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
  background-color: #b2b1b1;
  color: #fff;
  border-radius: 10px;
}
.nav-bar .active {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table.calendar {
    margin-bottom: 0;
}
.table{
  margin-left: auto;
  margin-right: auto;
}
table{
    border: 2px solid rgb(51,73,94);;
   
   
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    
}
caption{
    padding: 7px 20px;
    background-color:rgb(51,73,94);
    color:white;
    font-weight: bold;
    border: 2px solid rgb(51,73,94);;
    border-spacing: 0;
    border-collapse: separate;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

table.calendar > thead > tr > th {
  padding-top:5px;
    text-align: center;
    
}
tr:hover{
    background-color:lightgrey;
}


table.calendar > tbody > tr > td {
    height: 20px;
}
table.calendar > tbody > tr > td{
  text-align: center;
  
}
table.calendar > tbody > tr > td >div{
    padding: 8px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
    border: 0;
}

.table tbody tr.hover td, .table tbody tr.hover th {
    background-color: whiteSmoke;
}
